<!DOCTYPE html>
<html>
<head>
<title>RHMS Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Rental House Management System</h2>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}

<form method="POST" action="{{ url_for('login') }}">

<label>Username</label><br>
<input type="text" name="username" required><br><br>

<label>Password</label><br>
<input type="password" name="password" required><br><br>

<button type="submit">Login</button>

</form>

</body>
</html>