<!DOCTYPE html>
<html>

<head>

<title>Payments</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h2 style="text-align:center;">Payment History</h2>

<table border="1" style="width:80%;margin:auto;background:white;">

<tr>

<th>ID</th>
<th>Tenant</th>
<th>Amount</th>
<th>Date</th>
<th>Method</th>

</tr>

{% for payment in payments %}

<tr>

<td>{{ payment[0] }}</td>
<td>{{ payment[1] }}</td>
<td>{{ payment[2] }}</td>
<td>{{ payment[3] }}</td>
<td>{{ payment[4] }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>